[submodule "src/velodyne"]
	path = src/velodyne
	url = https://github.com/ros-drivers/velodyne.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros1-legacy
[submodule "src/ouster-ros"]
	path = src/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
	branch = master
